body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.menu-container {
  margin-top: 100px;
  padding: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  font-size: 2.5em;
  color: #2c3e50;
}

.menu-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  padding: 15px 30px;
  font-size: 20px;
  text-decoration: none;
  color: rgb(242, 237, 237);
  background-color: #2980b9;
  border-radius: 10px;
  transition: background 0.3s;
  width: 200px;
  height: 50px;
}

.menu-button:hover {
  background-color: #0c44eb;
}

/* Responsividade para telas pequenas */
@media (max-width: 600px) {
  .menu-container {
    margin-top: 40px;
    padding: 10px;
    width: 90%;
  }

  h1 {
    font-size: 1.8em;
  }

  .menu-button {
    width: 100%;
    font-size: 18px;
    height: auto;
    padding: 12px;
  }
}
