/* Estilo geral */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Container principal com imagem + opções lado a lado */
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
  padding: 100px;
  height: 45vh;
}

/* Imagem do sinal em Libras */
#sinal-img {
  width: 300px;
  max-width: 100%;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 10px;
}

/* Botões de opções em grade 2 colunas */
.opcoes-container {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-gap: 20px;
  justify-content: center;
}

/* Botão de alternativa */
.botao-opcao {
  background-color: #073a5d;
  color: white;
  border: 2px solid #1f618d;
  border-radius: 12px;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.botao-opcao:hover {
  background-color: #2980b9;
}

/* Botão padrão */
.menu-button {
  background-color: #1686dc;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px 24px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  display: block;
}

.menu-button:hover {
  background-color: #1f618d;
}

/* Texto de feedback */
#feedback, #pontuacao {
  font-size: 18px;
  color: #333;
  margin-top: 10px;
  text-align: center;
}

/* Responsivo para tablets */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 40px;
    height: auto;
  }

  .opcoes-container {
    grid-template-columns: repeat(2, 120px);
  }

  h1 {
    font-size: 1.8em;
  }

  .menu-button {
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    padding: 12px;
  }
}

/* Responsivo para celulares */
@media screen and (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    height: auto;
  }

  #sinal-img {
    width: 90%;
    max-width: 250px;
  
  }

  .opcoes-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    align-items: center;
  }

  .botao-opcao {
    width: 80%;
    font-size: 16px;
    padding: 12px;
  }

  h1 {
    font-size: 1.5em;
    text-align: center;
  }
}
